.main {
    margin: 0 auto;
    width: 800px;
    padding-top: 30px;
}

/* jcarousel */

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel li {
    line-height: 45px;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

.jcarousel-control-next {
	display: inline-block;
	float: right;
	text-decoration: none;
	background-color: #82CAFA;
	color: white;
	line-height: 30px;
	width: 80px;
	border-radius: 5px;
	padding-left: 10px;
}

.jcarousel-control-prev {
	display: inline-block;
	float: left;
	text-decoration: none;
	background-color: #82CAFA;
	color: white;
	line-height: 30px;
	width: 80px;
	border-radius: 5px;
	padding-left: 10px;
}

.dropdown_wrapper {
	height: 30px;
	display: inline-block;
    vertical-align: middle;
}

/* Checkboxes */

.controls {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}

.checkboxes {
	display: inline-block;
	float: right;
}

.nice-checkbox {
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	background: url(../img/checkbox.png);
}

.nice-checkbox input {
	display: none;
}

/* Menu */

.nice-menu {
	display: inline-block;
	float: left;
	width: 100%;
	background-color: rgb(255,100,100);
	margin-bottom: 20px;
	padding-left: 20px;
}

.nice-menu>li {
	float: left;
	width: 100px;
	line-height: 30px;
}

.nice-menu li a {
	display: block;
	color: white;
	text-decoration: none;
}

.nice-menu li a:hover {
	color: #000000;
}

.nice-submenu {
	position: absolute;
	display: none;
}